<!DOCTYPE html>
<html>
  <head>
    <title>Synth A1</title>
    <link rel="icon" type="image/png" href="https://www.w3schools.com/html/img_favicon.png"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'synth_example' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
