<!DOCTYPE html>
<html>
  <head>
    <title>Synth A1</title>
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/abarabonova/A1_Synth/main/app/assets/images/favicon.png"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Synth A1"/>
    <meta property="og:description" content="Web Synth A1"/>
    <meta property="og:image" content="https://raw.githubusercontent.com/abarabonova/A1_Synth/main/app/assets/images/og.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'synth_example' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
